exportClasses(McmcTable)
exportClasses(mcmc)
exportClasses(mcmc.list)
exportClasses(summary.mcmc)
exportMethods(coef)
exportMethods(gelman_diag)
exportMethods(gelman_diag_split)
exportMethods(mcmc)
exportMethods(mcmc.list)
exportMethods(mean)
exportMethods(median)
exportMethods(quantile)
exportMethods(rbind2)
exportMethods(vcov)
import(data.table)
importMethodsFrom(stats4,coef)
importMethodsFrom(stats4,vcov)
