export(McmcdbChains)
export(McmcdbFlatparChains)
export(McmcdbFlatpars)
export(McmcdbIters)
export(McmcdbParameters)
export(McmcdbSamples)
export(bugs_to_stan_parnames)
export(gen_mcmcdb_parameters)
export(mcmc_parnames_bugs)
export(mcmc_parnames_stan)
export(mcmc_parparser_bugs)
export(mcmc_parparser_guess)
export(mcmc_parparser_scalar)
export(mcmc_parparser_stan)
export(stan_to_bugs_parnames)
exportClasses(McmcdbChains)
exportClasses(McmcdbFlatparChains)
exportClasses(McmcdbFlatparChainsOrNull)
exportClasses(McmcdbFlatpars)
exportClasses(McmcdbIters)
exportClasses(McmcdbParameters)
exportClasses(McmcdbSamples)
exportClasses(McmcdbWide)
exportMethods("$")
exportMethods("[")
exportMethods("[[")
exportMethods(McmcdbParameters)
exportMethods(McmcdbWide)
exportMethods(mcmcdb_chains)
exportMethods(mcmcdb_data)
exportMethods(mcmcdb_flatpar_chains)
exportMethods(mcmcdb_flatpars)
exportMethods(mcmcdb_flatten)
exportMethods(mcmcdb_init)
exportMethods(mcmcdb_iters)
exportMethods(mcmcdb_metadata)
exportMethods(mcmcdb_parameters)
exportMethods(mcmcdb_pardims)
exportMethods(mcmcdb_paridx)
exportMethods(mcmcdb_unflatten)
import(DataFrameConstr)
import(plyr)
import(reshape2)
import(stringr)
