export(mcmc_parse_parname_bugs)
export(mcmc_parse_parname_default)
export(mcmc_parse_parname_stan)
export(mcmc_relist)
exportClasses(mcmc.list)
exportClasses(mcmc)
exportClasses(McmcChainIters)
exportClasses(McmcChainItersOrNull)
exportClasses(McmcChains)
exportClasses(McmcLong)
exportClasses(McmcPararrays)
exportClasses(McmcParChains)
exportClasses(McmcParChainsOrNull)
exportClasses(McmcParnames)
exportClasses(McmcSamples)
exportClasses(summary.mcmc)
exportMethods("[")
exportMethods("[[")
exportMethods("$")
exportMethods(c)
exportMethods(mcmc.list)
exportMethods(mcmc)
exportMethods(mcmcByIteration)
exportMethods(mcmcByParameter)
exportMethods(mcmcGetChains)
exportMethods(mcmcGetIters)
exportMethods(mcmcGetParnames)
exportMethods(McmcLong)
exportMethods(melt)
exportMethods(rbind2)
exportMethods(show)
exportMethods(str)
import(DataFramePlus)
import(plyr)
import(reshape2)
import(stringr)
importMethodsFrom(stats4,coef)
importMethodsFrom(stats4,vcov)
